<html>
{{>./partials/header}}

<body>
    {{>navbar}}
    <div class="container mx-auto mt-3">
        <h2 class="text-3xl font-extrabold text-gray-800">Library Managment</h2>
        <hr class="h-px my-8 bg-gray-200 border-0">
        <div class="flex flex-row space-x-5 md:justify-evenly">
            <a href="#" class="block w-80 p-6 bg-white border border-gray-200 rounded-lg shadow hover:shadow-md">
                <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-700">Users</h5>
                <p class="font-bold text-5xl text-red-400">7</p>
            </a>
            <a href="#" class="block w-80 p-6 bg-white border border-gray-200 rounded-lg shadow hover:shadow-md">
                <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-700">Loans</h5>
                <p class="font-bold text-5xl text-green-400">20</p>
            </a>
            <a href="#" class="block w-80 p-6 bg-white border border-gray-200 rounded-lg shadow hover:shadow-md">
                <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-700">Books</h5>
                <p class="font-bold text-5xl text-yellow-400">156</p>
            </a>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
        crossorigin="anonymous"></script>
</body>

</html>